### 这是第{num}个Example
### 是关于{description}的
### 这是当前的知识树
{distilled_tree}

### 这是和访谈对象的历史对话
{chat_history}

### 这是访谈对象这一轮的回答
{current_response}

### 提出该问题的原因及思考过程
{reasons}

### 问题指向的目标是
{objective}

### 提出的问题是
<question>{question}</question>



