### Example{num}
### 是关于{description}的
### 当前的知识树
{distilled_tree}

### 和提问者的历史对话和建议
{review_history}

### 提问者最新的问题
{newest_question}

[OUTPUT]:
<thought>
{reasons}
</thought>
<verify>
{verification}
</verify>
<reply>
{reply}
</reply>



