### Example{num}
### 是关于{description}的

### 和用户的历史对话
{chat_history}

### 在网络上搜索到的信息
{search_result}

# [OUTPUT]:
<thought>
{thought}
</thought>
<case>
{case}
</case>
<reply>
{reply}
</reply>
<quote>
{quote}
</quote>



